<div class="wrapper">
	<nav>
		<ul class="drop-down closed">
			<li><a href="index" class="nav-button">Home</a></li>
			<li><a href="blog">Gallery</a></li>
			<li><%= link_to 'Cakes', orders_path %></li>
			<li><a href="contact">contact me</a></li>

		</ul>
	</nav>

 
    <h1 id="me">About Me</h1>
    <div class="container">

    <div class="row">
      <div class="col s6 push-s6"><span class="flow-text"> <div id="abouther"><h3> My Story</h3>
      	<p id="about1">
      		Hello There!!!*royal wave* My name is Cynthia. I’m a home baker whose passion for baking sweets, and breads derived from wanting to eat clean. Which led me to start baking low carb/paleo and vegan cakes.<br>I am constantly driven by creative ideas,trying to create authentic sweets made from top notch ingredients.<br> Lord knows, in this society,we need pure/ simple ingredients in our day-to-day lives, and that's what I strive for.

      		Bringing back grandma cooking/baking to the kitchen is the idea. We’ve always known that Grandma's cooking is the best ... lol .. sorry mom ... love you. 

      	</p></span></div></div>

      	<div class="col s6 pull-s6">
      		<span class="flow-text"> <%= image_tag("apic.png", :size => "300x400")  %>
      			<div id="abouther">
      			</span>
      			<p style="margin-top:-11px;">
      				Many describe my passion for the art of cakes/desserts as"Dora the Explorer" lol.  Because I add my own twist, with not only organically grown ingredients but also using exotic fruits, multicultural inspirations and with pure love. Seeing  a smile on a person's face after eating something I've made, is my ultimate goal.</p>
      				</div>
      		</div>
      	</div>
      	</div>
      	<div class="foot2">
<center>
<p style="color:white;">C.C.C</p><br>
<button class="waves-effect waves-light btn">
  <a href="">About</a>
  </button>
  <button class="waves-effect waves-light btn">
  <a href="">Cake</a>
  </button class="waves-effect waves-light btn">
  <button class="waves-effect waves-light btn">
  <a href="">Custom Cake</a>
  </button>
  <button class="waves-effect waves-light btn">
  <a href="">Contact</a>
  </button><br>
  <div>
    <a href=""></a>
  </div>
    <button class="waves-effect waves-light btn">
  <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i></a></button>
   <button class="waves-effect waves-light btn">
  </a> &nbsp;&nbsp;
  <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>
  </a>
  <h6 style="color:white">Made in © 2017 | Philco Michel</h6>
</button>
</center>


</div>