
    <div class="forblog">

      <h1 class="blog1">Cynthia C. Cakes</h1>

    </div>

    <div>
      <section class="box widget locations">
        <div class="avatar">
          <div class="meblog">
           <%= image_tag("apic.png", height:'400', width: '450',)  %>
         </div>
         <div class="meblogtext">
           <h4 class="blog1"><a> I am a Respiratory Therapist</a></h4>
           <p>Part of my Job is to examine patients with breathing 
             or cardiopulmonary disorders. <br>Consult with physicians to develop patient treatment plans. Perform diagnostic tests, such as measuring lung capacity.. </p>
           </div>
         </div>

         <div class="details">
          <a  class="btn btn-primary btn-block btn-large"> Live well with CCC.</a>
        </div>
      </section>
    </div>

      <!-- blog info, about health -->



    <div class="intouch">
      <section class="box widget audio">
        <div class="image">
          <%= image_tag("blog2.jpg", height:'400', width: '700',)  %>
        </div>
        
        <div class="details">
        <div class="image">
          <%= image_tag("blog2.jpg", height:'400', width: '700',)  %>
        </div>
          <h2 class="album">Get In Touch</h2>
          <div class="player">
            <div class="bar"></div>
          </div>
        </div>
      </section>  
    </div>



   <!-- the contact form -->
  <div>
    <section class="box widget find">
      <div class="lasform">
        <form action="https://formspree.io/phil9231@gmail.com"
          method="POST">

          <label for="name">Full Name</label>
          <input type="text" name="name
          <label for="phone">Phone</label>
          <input type="text" name="name
          <label for="Suject">Subject</label>
          <input type="text" name="name">    
          <label for="email">EMAIL</label>
          <input type="email" name="_replyto">
          Your message
          <textarea name="message" placeholder=""></textarea>
          <input type="submit" value="Send">
        </form>
      </div>


      <!-- the logo for contact -->
      <div class="lastlogo">
        <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i>
        </a> &nbsp;&nbsp;
        <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true">Book<i>
        </a>
      </div>
      
      <a href="#" class="btn btn-primary btn-large btn-block"></a>
    </section>
  </div>
   
