
<div class="forblog">

  <h1 class="blogtitle">Cynthia C. Cakes</h1>

  <div class="blog">

    <main class="blogcontent">
      <h5><a> I am a Respiratory Therapist</a></h5>
      <p>Part of my Job is to examine patients with breathing or cardiopulmonary disorders. Consult with physicians to develop patient treatment plans. Perform diagnostic tests, such as measuring lung capacity.. </p>

      <a href="more">Continue Reading</a>
    </div>
    <%= image_tag("resp.jpg", height:'400', width: '250',)  %>
    <div class="category-tags"></main>


      <div class="blogads"><p>Hello people</p></div>
    </div>

  </div>
</div>


