

<header>…</header>
<h1 class="section-title">Cynthia C. Cakes</h1>

  <div class="HolyGrail-body">

    <main class="HolyGrail-content"><div class="post-preview">
          <h5 class="entry-title"><a> I am a Respiratory Therapist</a></h5>
          <p>Part of my Job is to examine patients with breathing or cardiopulmonary disorders. Consult with physicians to develop patient treatment plans. Perform diagnostic tests, such as measuring lung capacity.. 

           <a href="more">Continue Reading</a>
         </div>
         <%= image_tag("resp.jpg", height:'400', width: '250',)  %>
         <div class="category-tags"></main>

    <nav class="HolyGrail-nav">…</nav>

    <aside class="HolyGrail-ads">…</aside>
  </div>
  <footer>…</footer>


