
<div class="blog-post">
  <div class="blog-hero"></div>
    <article>
      
      <div class="blog-content">
        <summary>
          <h3>My Blog</h3>
          <div class="blog-date">23 Dec 2016</div>
        </summary>
        <p>My joy is challeging myself doing things that seen to be imposible. 
        I wake daily with one goal. How can I make myself better today.</p>
        <h5>A little About me.</h5>
        <p>I am a self motivator, indepand in must way. fight for what I need and deserve. my parents are Haiti, that says I was in the here in Miami City. </p>
      </div>


      <div class="blog-img">
        <div class="blog-img-caption"><b></b> </div>
      </div>
      <div class="blog-content">
        <p>Everything is home and hand made. I truly believe that my cleint deserve the best. if there is one thing that I do if treat other the way I like to threated. I take my time to do what my client need andd the way they need it, at the end of the is about them not about my . everything that the provided to me is include in the product.</p>
       
<div id="about">
    <%= image_tag("blog3.jpg", height:'450', width: '650', class: "img-circle cyn")  %>
  </div>
        <p>I love to stand behind the stove and make the magic happened. when come to present at the table to serve I on my to be master. I challege myself doing a little of everything in kicthen. I feel like there is always room to improve.  </p>
      </div>  
  </article>

</div>
