


 
    <section id="post-test">
  <h1 class="section-title">Cynthia C. Cakes</h1>

  <article class="post red">
    <header class="entry-header">
      <h2 class="entry-title"><a> A Little bit about me</a></h2>

      
    </header>
    <article class="entry-preview">
      <div class="post-preview">
      <h5 class="entry-title"><a> I am a Respiratory Therapist</a></h5>
          <p>Part of my Job is to examine patients with breathing or cardiopulmonary disorders. Consult with physicians to develop patient treatment plans. Perform diagnostic tests, such as measuring lung capacity.. 

. … <a href="more">Continue Reading</a>
      </div>
      <%= image_tag("resp.jpg", height:'400', width: '250',)  %>
      <div class="category-tags">
        <span class="cat-links"><a>antiquarianism</a>, <a>arrangement</a>, <a>asmodeus</a>, <a>buying</a>
      </div>
    </article>
    </article>
    
    
    <article class="post red sticky">
    <header class="entry-header">
      <h2 class="entry-title"><a>Monthly Goal Planning</a></h2>
    </header>
    <article class="entry-preview">
      <div class="post-preview">
          <p>Is to bring you the best and efficiat way to help live a heathy life.My goal is to help you get the result of your healthy live, to help eat well. 
          
      </div>
    </article>
    </article>
    
    
</section>