
<div class="forblog">

  <h1 class="blog1">Cynthia C. Cakes</h1>

</div>

 <div class="grid_4">
    <section class="box widget locations">
      <div class="avatar">
         <%= image_tag("apic.png", height:'400', width: '450',)  %>
      </div>
      <h4><a> I am a Respiratory Therapist</a></h4>
      <p>Part of my Job is to examine patients with breathing or cardiopulmonary disorders. Consult with physicians to develop patient treatment plans. Perform diagnostic tests, such as measuring lung capacity.. </p>

      <div class="details">
        <a href="#" class="btn btn-primary btn-block btn-large">view on maps</a>
      </div>
    </section>

<div class="card-group">
    <div class="card">
        <img class="img-fluid" src="http://mdbootstrap.com/images/reg/reg%20(63).jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
       <%= image_tag("blog1.jpg", height:'400', width: '1050',) %>
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text"><h5>  Read your recipe carefully before starting:  Be sure you have all the ingredients called for and that you understand the recipe clearly.  Learn more about Recipes (What is a Recipe – How to Follow a Recipe – Why Some Recipes Don’t Work – What is Mise en Place?)</h5><br>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="img-fluid" src="http://mdbootstrap.com/images/reg/reg%20(64).jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>



      </header>

      <div class="col_2of3">
        <section class="box widget audio">
          <div class="image">
            <%= image_tag("blog3.jpg", height:'400', width: '450',)  %>
          </div>
          <div class="details">
            <h2 class="album">Geef mij maar Amsterdam</h2>
            <p class="artist">Johnny Jordaan</p>
            <div class="player">
              <div class="bar">
                <div class="progress" data-time="1:45"></div>
              </div>

            </div>
          </div>
        </section>  
      </div>
      <div class="col_1of3">
        <section class="box widget find">
          <input type="text" name="find" placeholder="Find your city place" />
          <label for="favorite" class="checkbox">
            <input type="checkbox" id="favorite" name="favorite" />
            Add to favorites
          </label>
          <a href="#" class="btn btn-primary btn-large btn-block">Search</a>
        </section>
      </div>
    </div>
  </div>
</div>

