<nav>
  <ul class="drop-down closed">
    <li><a href="index" class="nav-button">Home</a></li>
    <li><%= link_to 'Cakes', orders_path %></li>
    <li><a href="about">About Me</a></li>

   
  </ul>
</nav>







<div class="contact-form">
  <h1>Contact Me!</h1>
  <form>
          <div class="field name-box">
              <input class="text-area" type="text" id="name" placeholder="Who Are You?"/>
              <label for="name">Name</label>
          </div>
        <div class="field email-box">
              <input class="text-area" type="text" id="email" placeholder="Example@Email.com"/>
              <label for="email">Email</label>
          </div>
        <div class="field message-box">
          <textarea class="text-area" placeholder="Your message goes here..." id="message"></textarea>

              <label for="message">Message</label>
          </div>

        <button class="contact-submit">Send</button>
  </form>
</div>