<div class="contactme">

  <nav>
    <ul class="drop-down closed">
      <li><a href="index" class="nav-button">Home</a></li>
      <li><%= link_to 'Cakes', orders_path %></li>
      <li><a href="about">About Me</a></li>


    </ul>
  </nav>
  


  
  <h1 id="cme">Contact Me</h1>
  <!-- the contact form -->
  <div class="small-8 large-4 columns">
    <div class="row">
      <div class="small-6 columns">
        <div class="form2">
          <form action="https://formspree.io/phil9231@gmail.com"
          method="POST">
          Name: <input type="text" name="fullname"><br>
          Phone: <input type="text" name="phone"><br>
          Kind of event: <input type="text" name="fullname"><br>
          Explain what you need:   <textarea name="message" placeholder="Your message"></textarea>
          <input type="submit" value="Submit" style="color:green; font-size:20px;">
        </form> 
      </div>
    </div>
  </div>
</div>

<div class="follow1">
 <h5 style="text-align:center;"> follow me  on IG, and DM about your desire of sweet!!! </h5>
</div>
<footer>
  <div class="icon1"  style="font-size:2.8em;">
    <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i>
    </a> &nbsp;&nbsp;

    <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
  </div>
</footer>
</div>
