<div class="contactme">

  <nav>
    <ul class="drop-down closed">
      <li><a href="index" class="nav-button">Home</a></li>
      <li><%= link_to 'Cakes', orders_path %></li>
      <li><a href="about">About Me</a></li>


    </ul>
  </nav>



  <h2 class="contact">Contact Me here. </h2>

  <div class="form">
    <form action="https://formspree.io/phil9231@gmail.com"
    method="POST">
    <label for="name">Full Name</label>
    <input type="text" name="name">
    <label for="email">EMAIL</label>
    <input type="email" name="_replyto">
    <textarea name="message" placeholder="Your message"></textarea>
    <input type="submit" value="Send">
  </form>
    </div>




  <footer>
      <h5 class="follow"> follow me  on IG, and DM about your desire of sweet!!! </h5>

    <div class="icon1">
      <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i>
      </a> &nbsp;&nbsp;
      <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true">Book</i>
      </a>
    </div>
  </footer>
</div>