<nav>
  <ul class="drop-down closed">
    <li><a href="index" class="nav-button">Home</a></li>
    <li><%= link_to 'Cakes', orders_path %></li>
    <li><a href="about">About Me</a></li>


  </ul>
</nav>



<h2 class="contact">Contact Me here. </h2>




<form id="form">

  <fieldset>
    <input id="name" name="" type="text"/>
    <label for="name">NAME</label>
  </fieldset>

  <fieldset>
    <input id="email" name="" type="email"/>
    <label for="email">EMAIL</label>
  </fieldset>

  <fieldset>
    <textarea id="message" name="" type="text"></textarea>
    <label for="message">MESSAGE</label>
  </fieldset>

  <input id="submit" type="submit" value="GO!">
</form>  


<footer>
<h5 class="follow"> follow me  on IG, and DM about your desire of sweet!!! </h5>

<div class="icon1">
<a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i>
</a> &nbsp;&nbsp;
<a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true">Book</i>
</a></div>
</footer>