<nav>
  <ul class="drop-down closed">
    <li><a href="index" class="nav-button">Home</a></li>
    <li><%= link_to 'Cakes', orders_path %></li>
    <li><a href="about">About Me</a></li>

   
  </ul>
</nav>







 require 'sintra'
  require 'twilio-ruby'

post '/receive_sms' do 
  content_type 'text/xml'

  response = Twilio::TwiML::Response.new do |r|
    r.Message 'hey thanks for reach cynccake'
  end

  response.to_xml

  
end
