
<div class="wapper1">
	<div id="firstcake">
		<div class="col s5 pull-s7" style="margin-top:3em">
		<div class="tit">
      <h1><span>T</span>he <span> S</span>hirt <span> C</span>ake</h1>
    </div>
			</<div>
		</div>

	</div>
	<div class="zoom">
	</div>
		<div class="product">
			<div id="thumb">
				<%= image_tag("tiecake.png")  %> 
			</div>
			<div class="info">
		
				<div class="row">
				<div class="col s2">
				<div class="description2">
				<h4>Ingredients</h4>
					<p class="summary">Brown butter 

Brown sugar

Vanilla extract

Free range eggs

Orange zest/liquor 

Undrained crushed pineapples 

Raisins 

Toasted Pecans 

Desiccated coconut 

Salt 

Baking soda/ powder 

Spice blend (cinnamon,nutmeg, ginger, all spice)

Flour 

Cream cheese 

Cookie butter

Powdered sugar

LMF fondant 
					</p>	
				</div>
				</div>
				<div class="col s2">
				<div class="description3">
					<p class="summary">This cake was made out of two decadently moist layers of delicious tropical brown butter carrot cake. That is smothered by luscious spiced cookie butter whipped cream cheese icing. The same irresistible icing covers the entire cake, than covered in LMF fondant. Garnished with a fondant tie, collar and pocket.
					</p>
					<div id="back_ccc">
				<button> <%= link_to 'Back', orders_path %></button>
				</div>	
				</div>
				</div>
			</div>
		</div>
	</div>
</div>





