
<div class="wapper1">
	<div id="firstcake">
		<div class="col s5 pull-s7">
			<%= image_tag("tiecake.png")  %> 
			</<div>

		</div>

	</div>
	<div class="zoom">
	</div>
		<div class="product">
			<div id="thumb">
				<%= image_tag("tiecake.png")  %> 
			</div>
			<div class="info">
				<h2> Shirt Cake</h2>
				<div class="description2">
					<p class="summary">This cake was made out of two decadently moist layers of delicious tropical brown butter carrot cake. That is smothered by luscious spiced cookie butter whipped cream cheese icing. The same irresistible icing covers the entire cake, than covered in LMF fondant. Garnished with a fondant tie, collar and pocket.
					</p>	
				</div>
				<div id="thumb2">
				<a href="home/contact"><%= image_tag("pineapple.jpg")  %></a>
					<br>
					<p>PINEAPPLE CAKE</p>
					<div id="back_ccc">
				<button> <%= link_to 'C.C.C', orders_path %></button>
				</div>
				</div>
				

			</div>
		</div>
	</div>
</div>





