<div class="wapper1">
	<div id="firstcake">
		<div class="col s5 pull-s7" style="margin-top:3em">
			<div class="tit">
				<h1><span>T</span>eddy  <span> B</span>ear  <span> C</span>ake</h1>
			</div>
			</<div>
		</div>

	</div>
	<div class="zoom">
	</div>
	<div class="product">
		<div id="thumb">
			<%= image_tag("bear.jpg")  %> 
		</div>
		<div class="info">
			
			<div class="row">
				<div class="col s1">
					<div class="description2">
						<p class="summary"><h4>Ingredients</h4>Butter

							Sugar

							Free range eggs

							Vanilla/almond extract

							White chocolate

							Raspberry 

							Passion fruit

							Cream cheese

							Whipping cream

							Milk

							Gluten free flour

							Salt

							Baking powder/soda

							Powdered sugar


						</p>	
					</div>
				</div>
				<div class="col s3">
					<div class="description3" style="width:250px;">
						<p class="summary">This "jaw dropping" realistic teddy bear cake will make any toddlers day! It's gluten free and moisten with vanilla syrup in each white chocolate raspberry layer. Separated by an exotic scrumptious no bake passion fruit cheesecake. Covered entirely with whipped vanilla buttercream, garnished with stiff buttercream, fondant, edible princess crown, a ribbon and a homemade iced red velvet cupcake topped with a happy birthday sign and candle.
						</p>
						<div id="back_ccc">
							<button> <%= link_to 'C.C.C', orders_path %></button>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





