<div class="wapper1">
	<div id="firstcake">
		<div class="col s5 pull-s7" style="margin-top:3em">
		<div class="tit">
      <h1><span>C</span>hocoholic <span> D</span>ream  <span> C</span>ake</h1>
    </div>
		</<div>
		</div>

	</div>
	<div class="zoom">
	</div>
		<div class="product">
			<div id="thumb4">
			<div class="image4">
			<%= image_tag("chocola.jpg")  %> 	
			</div>
			</div>
			<div class="info">
				<div class="row">
				<div class="col s2">
				<div class="description2">
					<p class="summary">what it was made with.
					</p>	
				</div>
				</div>
				<div class="col s2">
				<div class="description3">
					<p class="summary">This dreamy decadent rich melt-in-your-mouth chocolate cake will leave any chocoholic drooling at just the site of it ; one taste and their in chocolate heaven. This death by chocolate cake has four rich moist layers of chocolate madness. Within each layer there are chocolate surprises in them. There all separated with whipped luscious chocolate raspberry ganache. The same ganache covers the entire cake and garnished with piped/poured ganache, donuts, macaroons, Oreos, mini opera cake bar and a happy birthday sign made of chocolate!
					</p>
					<div id="back_ccc">
				<button> <%= link_to 'Back', orders_path %></button>
				</div>	
				</div>
				</div>
			</div>
		</div>
	</div>
</div>





