
<div class="home1">
 

        <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="home/about">About</a></li>
        <li><%= link_to 'Cakes', orders_path %></li>
        
      </ul>
    </div>
  </nav>
        
 


  <div class="container">

    <div class="tit">
      <h1 style="color:#B76E79"><span>C</span>ynthia <span>C</span>outure <span>C</span>akes</h1>
    </div>
  </div>
  

 <p class="p"> Sweets For All Occassions </p>
        <p class="p">Homemade,and Organically Delicious</p>

        
  






  <!-- about me page -->

<footer>

   <div class="icon2"  style="font-size:2.8em;">
    <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i>
    </a> &nbsp;&nbsp;

    <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
  </div>
</div>
</footer>
