  
 <nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="index">Home</a></li>
      <li><a href="about">About ME</a></li>
      <li><%= link_to 'Cakes', orders_path %></li>
      <li><a href="contact">Contact Me</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="index">Home</a></li>
      <li><a href="about">About ME</a></li>
      <li><a href="Cakes">Reserve</a></li>
      <li><a href="Contact">Contact Me</a></li>
    </ul>
  </div>
</nav>





<div class="tit">
  <h1>cynthia couture cakes</h1>
  <h4>Where</h4>
  <h4>Everything is Organic.</h4>
</div>


<div id="about">
    <%= image_tag("blog1.jpg", height:'450', width: '650', class: "img-circle cyn")  %>
  </div>



