
<div class="home1">
 

        <nav>
    <div class="nav-wrapper">
      
   <%= link_to 'C.C.C', orders_path %>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      
        <li><%= link_to 'Cakes', orders_path %></li>
        
      </ul>
    </div>
  </nav>
        
 


  <div class="container">

    <div class="tit">
      <h1 style="color:#B76E79"><span>C</span>ynthia <span>C</span>outure <span>C</span>akes</h1>
    </div>
  </div>
  

 <p class="p"> Sweets For All Occassions </p>
        <p class="p">Homemade, Organically Delicious</p>

        
  






  <!-- about me page -->

<footer>

   <div class="icon2"  style="font-size:2.8em;">
    
  </div>
</div>
</footer>
<div class="wrapper">
 
    <h1 id="me">About Me</h1>

    <div class="row">
      <div class="col s7 push-s5"><span class="flow-text"> <div id="abouther"><h3> My Story</h3>
          <p> Heyyy there! My name is Cynthia! I'm going to be brutally honest with you! Because mom says, "honesty is the best policy". It's all about  first impressions-right!  OK,  I'll say it- I'm a "late boomer" when it comes to all things desserts *covers eyes* particularly baking them with high quality ingredients. My inspiration for making homemade (mostly organic) desserts dawned on me sometime summer '13. Prior to that, I was baking cakes for my church with the pre-packaged mixes. I always made it with my own twist/sassiness. However, one sweet day, I was going about my own business gathering the necessary ingredients to make the cake. When my eyes wondered to the ingredients that was listed on the back of the mix. Needless to say, I was surprised at what I was baking and giving to the saints in my church (at church of all places!)! I almost immediately decided to bake a cake from scratch with the ingredients that I had on hand, and with the help of Google. I baked the cake, scared out of my mind about the outcome, and without telling the them-it was a hit! BAM! A new chapter in my life began and flourished.<em> Shortly thereafter, I started baking low carb/paleo and vegan cakes.</em> My passion for the art of cakes/desserts is what people like to call "Dora the Explorer" lol.  Because I add my own twist, with not only organically grown ingredients but also using exotic fruits, multi-culture inspirations and with pure love. 
          </p>
           <h3>More</h3>
        <p> I am driven by creative ideas and trying to create authentic sweets made from top notch ingredients Lord knows, in this society we need pure/ simple ingredients in our day to day lives, and That's what I strive for. Bringing grandma cooking/baking back to the kitchen cause we know Grandma's cooking was always the best ... lol .. sorry mom ... love you mom.  </p></span></div></div>

      <div class="col s5 pull-s7"><span class="flow-text"> <%= image_tag("apic.png")  %>
        <div id="abouther">
      </span>
       <p>I am a Christian home baker. Who's passion for baking sweets and breads derived from wanting to eat clean. Putting a smile on a persons face after eatting something I've made is my ultimate goal </p></div></div>
    </div>
          



    
          



              
         






    </div>
  


<div class="lastlogo">
  <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i>
  </a> &nbsp;&nbsp;
  <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true">Book</i>
  </a>
</div>

<a href="#" class="btn btn-primary btn-large btn-block"></a>
</section>
</div>

</div>
</div>