
<nav>
	<ul class="drop-down closed">
		<li><a href="index" class="nav-button">Home</a></li>
		<li><%= link_to 'Cakes', orders_path %></li>
		<li><a href="about">About Me</a></li>


	</ul>
</nav>
<div class="make">
	<div class="container">
		<div class="img_cutom">
			<%= image_tag("custom.jpg", :size => "660x680")  %>
		</div>
		<div class="col s6">
			<div id="custom">
				<h3>Custom Cake Orders</h3>
				<hr class="style18">
				<p> <span style="font-size:2em">W</span>e, at CCC, strive to make sure our cakes are made with quality ingredients, remains moist, delicious, and fully decorated for any occasion. Whether you are getting married, celebrating an anniversary, or holiday, you can believe that we will bake the special occasion cake that you will absolutely fall in love -- in fact, you may not even want to cut it! 

					Please send a text/email of the photo of your desired cake at cyn.c.cake@gmail.com

					In addition, it takes time to do custom cakes orders precise with a shorter timeframe cakes may appear rushed. So kindly order your cakes a week in advance or earlier. For that reason, all standard size custom cakes start at $65 & up due to production time, quality ingredients. For smaller sizes the price changes depending on design.Thank you!

				</p>
				<hr class="style18">
				<div class="col s6 pull-s5">

				</div>
			</div>
		</div>
	</div>
</div>
<div class="foot">
<center>
<p style="color:white;">C.C.C</p><br>
<button class="waves-effect waves-light btn">
  <a href="">About</a>
  </button>
  <button class="waves-effect waves-light btn">
  <a href="">Cake</a>
  </button class="waves-effect waves-light btn">
  <button class="waves-effect waves-light btn">
  <a href="">Custom Cake</a>
  </button>
  <button class="waves-effect waves-light btn">
  <a href="">Contact</a>
  </button><br>
  <div>
    <a href=""></a>
  </div>
    <button class="waves-effect waves-light btn">
  <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i></a></button>
   <button class="waves-effect waves-light btn">
  </a> &nbsp;&nbsp;
  <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>

  </a>
</button>
</center>


</div>
