 <div class="resve">
   <center>
     <h2>Your Cake Is Near!!</h2>
   </center>
 </div>
 <div class="container">
  <div class="HolyGrail-body">
    <main class="HolyGrail-content">
      <div class="formres">
       <form action="https://formspree.io/phil9231@gmail.com"
       method="POST">
       <h3>Personal </h3>
       <input type="text" name="Fullname" placeholder="Full Name"><br>
       <input type="text" name="Phone" placeholder="Phone"><br>
       <input type="email" name="email" placeholder="Email"><br>
       <input type="text" name="address" placeholder="address"><br>
       <input type="text" name="City" placeholder="City & State"><br>
       <input type="text" name="zip code" placeholder="Zip code"><br>
       <h5> Cake Size & Suggestion</h5>
       <input type="text" name=" Cake flavor" placeholder="  Cake Flavor"><br>
       <label for="size"></label> <h6>What size you need?  </h6><br>
       <input name="size" id="color" list="size" placeholder="6 inch to 16 inch">
       <div class="topping">
        <input type="text" name="Reference Name" placeholder="Referemce Name"><br>
        <p>Prefer contact: Email/call&text</p>
        <input type="text" name="contact" placeholder="How would like to be contact"><br>
        <h6>Regular/customize</h6>
        <input type="text" name="Kind of Cake" placeholder="regular/customize"><br>
        <h6>Descript what you need</h6>
        <textarea name="message" placeholder="Your details"></textarea>
        <input type="submit" value="Submit" style="color:green; font-size:20px;">
      </form>
      <datalist id="size"> <option>6 inch</option> <option>8 inch</option> <option>9 inch</option> <option>10 inch</option> <option>12 inch</option> <option>16 inch</option> </datalist>
    </main>
    <nav class="HolyGrail-nav"><section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul>

        <li><a href="about">About Me</a></li>
        <li><%= link_to 'Back', orders_path %></li>

      </ul>
    </section></nav>
    <footer>Cyn the best</footer>
  </div>

