 <nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
    <li><a href="home">Home</a></li>
     <li><a href="about">About</a></li>
     <li><%= link_to 'Cakes', orders_path %> </li>
       <li><a href="blog">Gallery</a></li>
       <li><a href="make">Custom Cake</a></li>
     <li><a href="tesimonies">Testimonials</a></li>
     <li><a href="contact">Contact</a></li>
     
    </ul>
  </div>
</nav>



 <div class="resve">
   <center>
     <h2>Your Cake Is Near!!</h2>
   </center>
 </div>
 <div class="container">
  <div class="HolyGrail-body">
    <main class="HolyGrail-content">
      <div class="formres">
       <form action="https://formspree.io/phil9231@gmail.com"
       method="POST">
       <h3>Personal Information</h3>
       <input type="text" name="Fullname" placeholder="Full Name"><br>
       <input type="text" name="Phone" placeholder="Phone"><br>
       <input type="email" name="email" placeholder="Email"><br>
       <input type="text" name="address" placeholder="Address"><br>
       <input type="text" name="City" placeholder="City & State"><br>
       <input type="text" name="zip code" placeholder="Zip code"><br>
       <h5> Cake Size & Suggestion</h5>
       <input type="text" name=" Cake flavor" placeholder="  Cake Flavor"><br>
       <label for="size"></label> <h6>Choose a size bellow! </h6><br>
       <input name="size" id="color" list="size" placeholder="6 inch to 16 inch">
       <div class="topping">
        <input type="text" name="Reference Name" placeholder="Referral Name"><br>
        <p style="color:  #FF69B4">Refer for discount:<br /> 5 people 10% off, 6 to 10 people 25% off on your next order.<br/>
        If you refer more than 10 people you'll get a $25 gift card off your prefrence plus a 15% of your next order.</p>
        <h5>Preferred way of contact: Email/Call/Text</h5>
        <input type="text" name="contact" placeholder="How would you like to be contact"><br>
        <h6>Regular/<a href="make">Custom Cake</a></h6>
      
  
        <input type="text" name="Kind of Cake" placeholder="Regular/Custom"><br>
        <h6>Describe what you need</h6>
        <textarea name="message" placeholder="Your details"></textarea>
        <input type="submit" value="Submit" style="color:green; font-size:20px;">
      </form>
      <datalist id="size"> <option>6 inch</option> <option>8 inch</option> <option>9 inch</option> <option>10 inch</option> <option>12 inch</option> <option>16 inch</option> </datalist>
    </main>
    <nav class="HolyGrail-nav"><section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul>

        <li><a href="about">About Me</a></li>
        <li><%= link_to 'Back', orders_path %></li>

      </ul>
    </section></nav>
    <footer>Cyn the best</footer>
  </div>

<div class="foot1">
<center>
<p style="color:white;">C.C.C</p><br>
<button class="waves-effect waves-light btn">
  <a href="about">About</a>
  </button>
  <button class="waves-effect waves-light btn">
  <%= link_to 'Cakes', orders_path %>
  </button class="waves-effect waves-light btn">
  <button class="waves-effect waves-light btn">
  <a href="make">Custom Cake</a>
  </button>
  <button class="waves-effect waves-light btn">
  <a href="contact">Contact</a>
  </button><br>
  <div>
    <a href=""></a>
  </div>
    <button class="waves-effect waves-light btn">
  <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i></a></button>
   <button class="waves-effect waves-light btn">
  </a> &nbsp;&nbsp;
  <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>
  </a>
   <h6 style="color:white">Made in © 2017 | Philco Michel</h6>
</button>
</center>


</div>
