
<nav class="top-bar foundation-bar" data-topbar>
  
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
     
      <li><a href="index" class="nav-button">Home</a></li>
        <li><a href="about">About Me</a></li>
        <li><a href="contact">contact me</a></li>

    </ul>
  </section>
</nav>

<h1 class="tell"> Tell Us the  Cake You Desire</h1>
<h5 style="text-align:center; margin-top:2em;">see your cake to life</h5>
<h5 style="text-align:center; margin-bottom:3em;">with Cynccakes</h5>

<div class="row">
  <div class="small-12 large-6 columns">
    <div class="row ">
      <div class="small-12 medium-6 large-6 columns">
        <%= image_tag("rescake1.jpg", height:'270', width: '400',)  %>
        <h4 style="color:orange;">Good Sweets</h4>
        <p>The sweet that you wish, will be at your table the day you need it.
        <br>
        Your dream is our distination. tell us are you want it, and  you'll have it
        <br>

        </p>
      </div>
      
        </div>
      </div>
    </div>
   </div>
    <div class="small-12 large-6 columns">
      <div class="row">
        <div class="small-12 columns">
        <div class="side-bar-right">
        <form action="https://formspree.io/phil9231@gmail.com"
          method="POST" style="background-color:#4A022F;">
          Name: <input type="text" name="fullname"><br>
          phone: <input type="text" name="phone"><br>
          Kind of event: <input type="text" name="fullname"><br>
         Explain what you need: <textarea rows="6" cols="70"></textarea>
          <input type="submit" value="SUBMIT" style="color:green;">
      </form>
      </div>

        
        </div>
      </div>
    </div>
</div>



<div class="row">
  <div class="small-12 large-8 large-push-4 columns">
   <%= image_tag("rescake3.jpg", height:'270', width: '400',)  %>
   <h4 style="color:orange;">CUPCAKES</h4>
  <p> 
   amazing taste, made with natural  ingredients  <br>
  with equal ratio of egg white, gluten-free flour, natural sugar.<br>
  <h5>Why Gluten-free</h5>
  I don't use gluten is just to prevent illness.<br>
  in the us only medicalnews have <br>
   estimated around 18 million people have something from gluten.
  </p>
  </div>
  <div class="small-12 large-4 large-pull-8 columns">
    <div class="row">
      <div class="medium-4 large-12 columns">
        <%= image_tag("rescake4.jpg", height:'270', width: '400',)  %>
        <h4 style="color:orange;">Healthy Breakfast</h4> 
        <p>A Mix of blueberries yogurt,granola,bananas.
        <br>
        A meal from scratch is the best meal.
        </p>

      </div>
      
      
    </div>
  </div>
</div>

