
<nav class="top-bar foundation-bar" data-topbar>
  
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
     
      <li><a href="home/index" class="nav-button">Home</a></li>
        <li><a href="home/about">About Me</a></li>
        <li><a href="home/contact">contact me</a></li>

    </ul>
  </section>
</nav>

<h1 class="tell"> Tell Us the  Cake You Desire</h1>
<h5>see your cake to life</h5>
<h5>with Cynccakes</h5>

<div class="row">
  <div class="small-12 large-6 columns">
    <div class="row ">
      <div class="small-12 medium-6 large-6 columns">
        <%= image_tag("rescake1.jpg", height:'270', width: '400',)  %>
      </div>
      
        </div>
      </div>
    </div>
   </div>
    <div class="small-12 large-6 columns">
      <div class="row">
        <div class="small-12 columns">
          <form action="https://formspree.io/phil9231@gmail.com"
          method="POST">
            <div class="row">
              <div class="small-12 medium-6 columns">
                <label>Your name</label>
                  <input type="text" placeholder=""/>
              </div>

              <div class="small-12 medium-6 columns">
                <label>Your email</label>
                  <input type="text" placeholder=""/>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <label>Your message</label>
                  <textarea placeholder=""></textarea>
              </div>
            </div>
            <input type="submit" value="Send">
            <a href="#" class="button">Default Button</a>

          </form>
        </div>
      </div>
    </div>
</div>



<div class="row">
  <div class="small-12 large-8 large-push-4 columns">
   <%= image_tag("rescake3.jpg", height:'270', width: '400',)  %>
  <p>Amazing Cup cakes</p>
  </div>
  <div class="small-12 large-4 large-pull-8 columns">
    <div class="row">
      <div class="medium-4 large-12 columns">
        <%= image_tag("rescake4.jpg", height:'270', width: '400',)  %>
        <h4 style="color:orange;">Healthy Breakfast</h4> 
        <p>A Mix of blueberries yogurt,granola,bananas.</p>
      </div>
      
      
    </div>
  </div>
</div>

