<div class="wapper1">
	<div id="firstcake">
		<div class="col s5 pull-s7" style="margin-top:3em">
		<div class="tit">
      <h1> <span>T</span>he <span> P</span>iano <span> C</span>ake</h1>
    </div>
			</<div>
		</div>

	</div>
	<div class="zoom">
	</div>
		<div class="product">
			<div id="thumb2">
				<%= image_tag("sash.jpg")  %> 
			</div>
			<div class="info">
				<div class="row">
				<div class="col s8">
				<div class="description2">
					<p class="summary">what it was made it with.
					</p>	
				</div>
				</div>
				<div class="col s3">
				<div class="description3" style="margin-top:30em">
					<p class="summary">This piano cake is sure to make a "wow factor" for any pianist. This cake has two super moist funfetti cake layers smothered with luscious whipped cream cheese icing. Covered entirety by the same irresistible cream cheese icing. Garnished with LMF fondant, fondant covered kit-kat bars for the sharp/fault keys and an edible music sheet.
					</p>
					<div id="back_ccc">
				<button> <%= link_to 'C.C.C', orders_path %></button>
				</div>	
				</div>
				</div>
			</div>
		</div>
	</div>
</div>





