<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
    <li><a href="home">Home</a></li>
     <li><a href="about">About</a></li>
     <li><%= link_to 'Cakes', orders_path %> </li>
       <li><a href="blog">Gallery</a></li>
       <li><a href="make">Custom Cake</a></li>
     <li><a href="tesimonies">Testimonials</a></li>
     
    </ul>
  </div>
</nav>

<div class="container">

<div id="testify">
<div class="tit2">
  <h1><span>T</span>estimonials</h1>
  </div>
<figure class="snip1167">
<%= image_tag("sashtest.jpg")  %> 

  <blockquote>Sasha: Amazing. Moist. Delicious. These are all words that come to mind when I eat the cakes and desserts that Cynthia provides. You can tell that she puts a lot of thought and love in her baking. What I enjoy the most is that I can also remind myself that I'm still eating healthy because of the organic ingredients she includes in her baked goods.  </blockquote>
</figure>
<figure class="snip1167">
<%= image_tag("jneetest.jpg")  %> 
  <blockquote>Jnee: Thank you for all the beautiful cakes you've provide for my family and I. Your cakes always taste and look amazing. Since the first time I tasted one of your cakes, I never brought a cake from anywhere or anyone else.</blockquote>
  
</figure>


<figure class="snip1167">
<%= image_tag("jesstest.jpg")  %> 

  <blockquote>Jess: C.C.Cakes are some of the best I ever had.Her homemade icing just melt on uch of her cakes.The prefect amount of sugar make not to  sweet. Her all organic ingredients make me feel less guilty when I eat to much. </blockquote>
  <div class="author">
   
  </div>
</figure>
</div>
</div>



