<nav>
  <ul class="drop-down closed">
    <li><a href="home/index" class="nav-button">Home</a></li>
    <li><a href="home/about">About Me</a></li>
    <li><a href="home/contact">contact me</a></li>
   
  </ul>
</nav>



<div class="res">

<h1> RESERVE IT HERE </h1>
<h5> see your dream cake come to life.</h5>
</div>


<div class="card1">
<div class="blog-card">
  <div class="photo photo1"></div>
  <ul class="details">
    <li class="author"><a href="#">John Doe</a></li>
    <li class="date">Aug. 24, 2015</li>
    <li class="tags">
      <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
      </ul>
    </li>
  </ul>
 
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <a href="#">Read More</a>
  </div>
</div> <br>

<div class="blog-card alt">
  <div class="photo photo2"></div>
  <ul class="details">
    <li class="author"><a href="#">Jane Doe</a></li>
    <li class="date">July. 15, 2015</li>
    <li class="tags">
      <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </li>
  </ul>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <a href="#">Read More</a>
  </div>
</div>  
</div>


<div id="card2">
<div class="blog-card">
  <div class="photo photo3"></div>
  <ul class="details">
    <li class="author"><a href="#">John Doe</a></li>
    <li class="date">Aug. 24, 2015</li>
    <li class="tags">
      <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
      </ul>
    </li>
  </ul>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <a href="#">Read More</a>
  </div>
</div>
<div class="blog-card alt">
  <div class="photo photo4"></div>
  <ul class="details">
    <li class="author"><a href="#">Jane Doe</a></li>
    <li class="date">July. 15, 2015</li>
    <li class="tags">
      <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </li>
  </ul>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <a href="#">Read More</a>
  </div>
</div>
</div>

<div class="card3">

<div class="blog-card">
  <div class="photo photo5"></div>
  <ul class="details">
    <li class="author"><a href="#">John Doe</a></li>
    <li class="date">Aug. 24, 2015</li>
    <li class="tags">
      <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
      </ul>
    </li>
  </ul>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <a href="#">Read More</a>
  </div>
</div>
<div class="blog-card alt">
  <div class="photo photo6"></div>
  <ul class="details">
    <li class="author"><a href="#">Jane Doe</a></li>
    <li class="date">July. 15, 2015</li>
    <li class="tags">
      <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </li>
  </ul>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <a href="#">Read More</a>
  </div>
</div>
</div>
