#me{
	text-align: center;
	color: orange; 
}
.cyns{
position: absolute;
float: right;
width: 650px;
margin-left: 25em;
display: flex;
flex-direction: row;
justify-content: left;
border: solid;
color: white;
opacity: 1px;


}
.cyns p{
    padding-bottom:5px;
    padding-left: 15px;
    padding-right: 15px;

}

/*s*/
.cyns {
    
    
    background-size: cover; 
    font-size: 15px;


}
#about{
    margin-right: 35em;
    float: right;

}
.me1{

float: right;
font-size: 20px;
width: 450px;
display: flex;
flex-direction: row;
justify-content: left;
margin-top: 610px;
margin-right: -450px;
color: white;



}
.footer {
  margin-top: 500px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

