#me{
	text-align: center;
	color: orange; 
}

.cyns p{
	margin-left: 600px;
	margin-right: 600px;
	margin-bottom: 100px;
	color:#FF00FF;
font-size: 25px;
font-family:Helvetica;
;
}
.cyns {
    width:100%;
    height:1px;
    padding-bottom:20%;
    background:url('blog3.jpg') 80% 70% no-repeat ;
    background-size: cover;
    position: relative;
}
#about{
	display: flex;
	justify-content: center;

}


