.wrapper {
     background: url('/assets/bloghealthyy2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}




#me{
	text-align: center;
	color: orange;
    font-family: impact; 
}
.cyns{
width: 1850px;
color: black;
background:  #b76e79;
opacity: 0.6;
padding-left: 2em;
margin-left: 20em;
margin-right: 20em;

}


