
.blog1{
	text-align: center;
	color: orange;
	font-family: impact;
}
.meblog{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.meblogtext{
	text-align: center;
	font-size: 1.2em;
}

.eat{
	color: orange;
	font-size: 3em;
	font-family: bold;
	text-align: center;
}
.firstb{
	padding-right: -89px;
}

.details{
	padding-bottom: 2em;
}
.lastlogo{
	text-align: center;
	font-size: 25px;
}