body {

    background: url('http://goo.gl/5wJBu') 50% 50%;
    background-attachment: fixed;
    background-size: cover;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.5;
    color: #fff;
  color: #383838;
  font-family: 'Helvetica Neue';
  text-transform: uppercase;
  letter-spacing: 5px;
  
  font-size: 25px;
  line-height: 1.6;
}

section {
  padding: 2em;
  width: 80%;
  display: block;
  position: absolute;
}

section .section-title {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #383838;
}

.post {    
  margin-left: 167px;
  margin: 4% 0 0 0;
  max-width: 720px;
}

.post:before {
  content: "";
  display: table;
}

.entry-header {
  border-left: 14px solid;
  padding: 1.777rem 2.369rem .75rem;
  padding-left: 44px;
  padding-left: 3.157rem;
}

.entry-preview {
  padding: 3rem 3rem 2rem 1rem;
  border-left: 14px solid;
  border-color: #fff;
}

.post-preview {
  text-transform: none;
  letter-spacing: 0;
}

.more-link {
  margin-top: .433rem;
  font-weight: bold;
  display: block;
  padding-left: 8px;
  border-left: 5px solid;
}

.category-tags {
  margin-top: 1.333rem;
  margin-right: 4px;
  letter-spacing: 1px;
  font-size: 8px;
  text-decoration: underline;
}


/* INITIAL COLOR STATES */
.post.red > * {
  color: #F85220;
  background: #fff;
  border-color: #FC7C60;
  transition: color .3s, background .3s, border-color .3s;
}

.post.red.sticky > * {
  color: #fff;
  background: #FC7C60;
  border-color: #F85220;
  transition: color .3s, background .3s, border-color .3s;
}

/* HOVERED COLOR STATES */

.post a:hover {
  opacity: 2px;
  transition: opacity, .3s;
  cursor: pointer;
}

.post.red:hover > *{
  color: #fff;
  background: black;
/*   border-color: #FC7C60; */
  transition: color .3s, background .3s, border-color .3s;
}

.post.red.sticky:hover {
  color: #fff;
  background:green;
  border-color: #FC7C60;
  transition: color .3s, background .3s, border-color .3s;
}




@media (max-width:600px){
    .blog-post {
        font-size:.9em;
        width:90%;
    }
    .blog-content {
        width:80%;
    }
    .blog-img {
        width:90%;
        padding-bottom: 50%;
    }
    .blog-hero {
        padding-bottom:60%;
    }
}
