.contactme{
  background-image: url('/assets/contactpic1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}
    

.icon1{
  display: flex;
  flex-direction: row;  
  justify-content: center;
  background-color: white;
  font-size: 25px;
}
.follow{
  margin-top: 20em;
  display: flex;
  flex-direction: row;  
  justify-content: center;
  background-color: white;
  opacity: .6;
  font-size: 2em;
  margin-right: 20em;
  margin-left: 20em;
  padding-bottom: 8px;
  padding-top: 8px;


}
.contact{
  display: flex;
  flex-direction: row;  
  justify-content: center;
  margin-top: 1.2em;
  background-color: white;
  color:green;
  font-family: impact;
  font-size: 6em;
  margin-bottom: 2.8em;

}


#cme{
  text-align: center;
  color: orange;
    font-family: impact; 
    font-size: 5em;
    margin-bottom: 5em;
    margin-top: 2em;
}

form{
  background: #79840A;
  color:white;

}