.contactme{
  background-image: url('/assets/contat3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}
    

.icon1{
  display: flex;
  flex-direction: row;  
  justify-content: center;
  background-color: white;
  font-size: 25px;
}
.follow1{
  margin-top: 5em;
  display: flex;
  flex-direction: row;  
  justify-content: center;
  background-color: white;
  opacity: .6;
  font-size: 2em;
  margin-top: 9em;


}
.contact{
  display: flex;
  flex-direction: row;  
  justify-content: center;
  background-color: white;
  color:green;
font-family: 'Tangerine', cursive;
  font-size: 6em;

}


#cme{
  text-align: center;
  color: white;
   font-family: 'Tangerine', cursive;
    font-size: 5.8em;
    margin-bottom: 2em;
    margin-top: 1.5em;
}

form{
  margin-top: 5px;
  background: gray;
  color:white;
  opacity: .5;
}