

.icon1{
  display: flex;
  flex-direction: row;  
  justify-content: center;
  background-color: white;
  font-size: 25px;
}
.follow1{
  margin-top: 5em;
  display: flex;
  flex-direction: row;  
  justify-content: center;
  background-color: white;
  opacity: .6;
  font-size: 2em;
  margin-top: 9em;


}
.contact{
  display: flex;
  flex-direction: row;  
  justify-content: center;
  background-color: white;
  color:green;
  font-family: impact;
  font-size: 6em;

}


#cme{
  text-align: center;
  color: white;
    font-family: impact; 
    font-size: 5.8em;
    margin-bottom: 4em;
    margin-top: 1.5em;
}

form{
  margin-top: 5px;
  background: #f45f42;
  color:white;
  opacity: .8;
}