// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home1{
     background-image: url('home2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

#logoc{
  text-align: center;
  font-size: 2.5em;
}

.tit h1 {
	margin-top: 18%;
  color:#B76E79;
	  text-shadow: 5px 2px 5px white;
  font-family: 'Lobster', cursive;
	text-transform: uppercase;
	text-align: center;
  margin-bottom: 7em;

  
}
.tit span{
  font-size: 2em;
}
.p{
    
    color: green;
    font-size: 2.5em;

	  text-align: center;
    font-family: 'Tangerine', cursive;
   


}

.icon2{
  margin-top: 12em;
  text-align: center;
}


.showcase{
  color:orange;
}
.phrase{
  font-family: 'Tangerine', cursive;
    color:#B76E79;
   

}
.phrase1{
  font-family: 'Tangerine', cursive;
    color:white;

   

}


.phrase2{
  font-family: 'Tangerine', cursive;
    color:teal;
   

}

  