// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.home{
  background: url('/assets/bloghealthy1.jpg');
   background-position: center center;
}

.tit h1 {
	margin-top: 10%;
	color: white;
  font: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;
  
}
.tit h4{
    height:1px;
    margin-top: 5.9%;
    margin-left: 15em;
    margin-right: 15em;
    padding-top: 1.3em;
    padding-bottom:10%;
    color: green;
    font-size: 2em;
    font-family: 'Tangerine', serif;
	  text-align: center;
    background:black;
     opacity: 0.3;


}

.icon2{
  font-size: 1.5em;
  margin-top: 18.8em;
  text-align: center;
}


.showcase{
  color:orange;
}


  