

.wapper1{
	background-image: url('/assets/cakemixer.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	width: 100%;
	height: 1800px;
}
#firstcake{

	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width:100%;
	height: 50%;

	position: relative;
	opacity: 0.5;
}

.zoom{
	position:fixed;
	width:100%;
	text-align:center;
	font-family:Open Sans, sans-serif;
	opacity:0.3;
	color:#045888;
	font-size:30px;
	top:50%;
	transform:translateY(-50%);
	margin:230px 0 0;
}

.product{
	width:900px;
	height:50%;
	margin-top: 5em;
	position:absolute;
	left:50%;
	top:60%;
	padding:20px;
	background:white;
	opacity: 0.8;

	transform:translateX(-50%) translateY(-50%);  
}

.info h2{
	color:orange;
	margin-top: 2px;
	font-family: impact;

}
.description2{
	width: 500px;
	float: right;
	margin-top: 22em;
	opacity: 0.9;
	color:white;
	background: gray;
	text-align: center;
	font-family: serif;
	font-size: 25px;
	border-radius: solid;
	font-family: serif;
}
.description3{
	width: 200px;
	margin-top: 1em;
	margin-left: 150px;
	opacity: 0.9;
	color:white;
	background: gray;
	text-align: center;
	font-family: serif;
	font-size: 20px;
}
#thumb{
	width:400px;
	height:auto;
	margin:30px 30px 0 25px;
	float:left;
	cursor:crosshair;


}
#thumb2{
	width:180px;
	margin:30px 30px 0 25px;
	float:left;
	cursor:crosshair;

}
.info{
	width:404px;
	height: 100px;
	float:left;
	position: relative;
	font-family:'Open Sans', sans-serif;
	img{
		position:absolute;
	}
}

.full{

	overflow:hidden;
	left:0;
	top:0;
	opacity:0;
	background:white;
	transition:.5s ease;
}
#back_ccc{
	display: inline-block;
    width: auto;
    border: 2px solid #20638f;
    padding: 0.7em 0.6em;
    color: #20638f;
    text-decoration: none;
    font-weight: 100;
    font-size: 2em;
    text-transform: cursive;
     color:white;
}



