
.ccheader {
  margin-top:5%;
  margin-bottom: 1%;
  padding: 2em;
  text-align: center;
  background-image: url("cyn1.jpg");
  margin-left: 35%;
  margin-right: 35%;
  background: cover;
}


/* Form CSS*/
.ccform {
   margin: 0 auto;
    width: 70%;
}
.ccfield-prepend{
  margin-bottom:10px;
  margin-right: 25%;
  margin-left: 25%;
}

.ccform-addon{
  color:#f8ae45; 
  float:left;
  padding:8px;
  width:8%;
  background:#FFFFFF;
  text-align:center;  
}

.ccformfield { 
 background-image: url("blog2.jpg");
  border:none;
  padding:15.5px;
  width:95.9%;
  height: 20%;
  display:block;
  font-family: 'Lato',Arial,sans-serif;
  font-size:14px;
}

.ccformfield {
  font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
  display:block;
  border:none;
  background:#f8ae45;
  float:right;
  color:#FFFFFF;
  padding:10px;
}
.ccbtn:hover{
  background:#d8850e;

}
.icon{
  font-size: 3.5em;
  margin-top: 8%;
  text-align: center;
}


