/* Icon set - http://ionicons.com */
  @import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
  figure.snip1249 {
    font-family: 'Raleway', Arial, sans-serif;
   
    overflow: hidden;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: white;
    color: #ffffff;
    text-align: left;
  }
  
.ordercake{
  background-image: url(blog2.jpg);
  background-position: center;
}
  .res{
    text-align: center;
    color: white;
  }
  figure.snip1249 * {
    -webkit-box-sizing: border-box solid;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }

  figure.snip1249 img {
    max-width: 100%;
   
}
#listofcake{
  margin-top: 5em;

}

  figure.snip1249 h3 {
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  
  figure.snip1249 figcaption {
    padding: 25px 80px 25px 25px;
    background-color: #ffffff;
    color: #000000;
    position: relative;
    font-size: 0.9em;
  }
  figure.snip1249 figcaption p {
    margin-bottom: 15px;
    font-size: 18px;
  }

  figure.snip1249 .add-to-cart {
    display: inline-block;
    width: auto;
    border: 2px solid #20638f;
    padding: 0.7em 0.6em;
    color: #20638f;
    text-decoration: none;
    font-weight: 800;
    font-size: 0.8em;
    text-transform: uppercase;
     background-color:black;
     color:white;
  }
  figure.snip1249 .add-to-cart:hover {
    background-color: #20638f;
    color: #ffffff;
  }
  figure.snip1249 .price {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: bold;
    color: #ffffff;
    z-index: 2;
    text-transform: uppercase;
    padding: 2px;
    font-weight: 500;
    font-size: 1.1em;
    text-align: center;
     opacity: 0.8;
  }

   figure.snip1249 figcaption:before {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    z-index: 1;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
    background-color: gray;
    -webkit-transform: skew(-45deg) translateX(50%);
    transform: skew(-45deg) translateX(50%);
    border-right: 1px solid gray;
  }
 
   figure.snip1249 figcaption:hover{
    background-color: black;
    color: white;
    opacity: 0.7
   }
      figure.snip1249 figcaption h4:hover{
        transform: rotate(-5deg); 
        

      }