.HolyGrail-body{
	background-color: #755066;
}
.HolyGrail {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
  border: 5px solid;
  padding: 25px;
  margin-top: 35px;

}
.size h6{
	width: 200px;
       float: left;
       margin:20px;
       border-right: 1px solid red;
}
.size h6:last-child {
        border-right:0;
     }
.HolyGrail-content {
  flex: 1;
}

.HolyGrail-nav, .HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}
.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}
.resve{
	color:#B76E79;
	  text-shadow: 5px 2px 5px white;
  font-family: 'Lobster', cursive;
	text-transform: uppercase;
}

.HolyGrail-nav {
  order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}
#custom{
  padding: 5%;
  border:  solid 5px;
    border-radius: 45px; 
    height: auto;
    width: 80%;
}
#custom p{
  font-size:20px;
}
.make{

  margin:10%;
}
.img_cutom{
  margin: 5%;
}

hr.style18 { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 5px 0; 
  border-radius: 20px; 
}
.fixed_footer{
  width: 100%;
  height: 50px;
  background: #111;
  position: fixed; left: 0; bottom: 0;
  z-index: -100;
}
.fixed_footer p{
  color: white;
  text-align: center;
}
.foot1 {
    background-color: black;
    margin-top: 35px;
    height: 10%;
  }

  .foot1 a{
  padding:25px;
  margin-top: 2px;
  color: white;

  }
  .foot1 p{
    font-size:25px;
    font-family: impact;
  }
  