<!DOCTYPE html>
<html>
  <head>
  
    <title>CynthiaC_Cakes</title>
    <%= csrf_meta_tags %>

  

  </head>
 
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
          <script src="https://use.fontawesome.com/866196dba7.js"></script>
          <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
         
  <body>
 
    <%= yield %>
  </body>
</html>
